.imageBlock {
  position: relative;
  display: inline-block;
}

.heart {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: none;
  border: none;
  outline: inherit;
  background: none;
  font-size-adjust: initial;
  color: yellow;
}

.liked {
  color: red;
}
